html body {
  background: #F5F5F5!important;
  font-family: 'Mina' !important;
}
.header{
  .main-header{
    font-size: 3.5em;
  }
  .main-logo-image{
    width: 30%;
  }
}
.submit-button{

}

// Adaptive
@media (max-width: 576px) {

}

@media (max-width: 768px) {
  header{
    .main-header{
      font-size: 2.5em;
    }
  }
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}